.pagdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    column-gap: 20px;
  
    
  }
  .pagination> div {
    padding: 0 12px;
  }
  .pagdiv p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #545F7D;
  }
  
  .halfp {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #333333;
  }
  
  
  .pag {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
  }
  
  .currentpagp {
    color: #545F7D;
  }
  
  .pagp {
    color: #545F7D;
    opacity: 0.6;
  }
  
  .mobile {
    display: none !important;
  }
  
  @media only screen and (max-width: 750px) {
    .halfp {
      font-size: 14px;
    }
  
    .pagination {
      column-gap: 4px;
  
      
    }
  
    .pagdiv {
      padding: 0;
      width: 100%;
      flex-direction: column;
    }
    .pagdiv p{
        font-size: 16px !important;
    }
    .pagdiv .flex{
        column-gap: 20px !important;
    }
    .pc {
      display: none !important;
    }
  
    .mobile {
      justify-content: flex-start;
      display: flex !important;
    }
  }